* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Merriweather', serif;
    background-color: #ebf2ff;

}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #f9fafc;
}

.navbar__brand {
    width: 100px;
}

.navbar__logo {
    width: 100%;
}

.button__primary {
    background-image: linear-gradient(
        to right, 
        #ff512f 0%,
        #dd2476 51%,
        #ff512f 100%
    );
    color: #fff;
    border: none;
    padding: 12px;
    border-radius: 6px;
    font-weight: 600;
}

.button__primary:hover  {
    border: 2px solid #FF6767;
}

.container {
    max-width: 100%;
    padding: 20px;
    margin: 0 auto;
}

/* problem with image size */
.hero__image__container {
    width: 100%;
    background-image: url('file:///C:/Users/sojuj/Desktop/sanidh.py/Zomato%20Website/assets/pink.png');
    background-size: 400px 400px;
    background-repeat: no-repeat;
    
}

.hero__image {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 25px 50px -12px rgb(0 0 0 / 25%) ;
}

.hero__text {
    font-weight: 800;
    font-size: 30px;
    margin: 20px 0;
    color: #1d3557;
}





@media (min-width: 768px) {

    .navbar {
        justify-content: space-between;
        padding: 10px, 30x;
    }

    .hero__container {
        margin-top: 20px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
    }
}

@media (min-width: 1024px) {

    .container {
        max-width: 70%;
    }

    .navbar__brand {
        width: 150px
    }

    .button__primary {
        padding: 20px;
        font-size: 20px;
    }

    .hero__description {
        width: 100%;
    }

    .hero__text {
        font-size: 48px;
    }
}





